<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou le dossier existe, ne rien faire
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon redirige tout vers index.php
    RewriteRule ^ index.php [L]
</IfModule>

<Directory "/Users/yassineakazi/Desktop/auto_manager/public">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>